#	Impedir que se pueda ver el listado de contenidos en un directorio

	Options All -Indexes

#	Url Amigables

	RewriteEngine on

#Aplicando condiciones

	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME} !-f 
	RewriteCond %{REQUEST_FILENAME} !-l

#Aplicando reglas

	RewriteRule ^(.+)$ index.php?action=$1 
	
	#RewriteRule ^(\w+)$ index.php?action=$1