//-----------------------
// PATRON DE COLORES
//-----------------------
$dark-primary-color: #0288D1; 
$default-primary-color: #03A9F4;
$light-primary-color: #B3E5FC;
$text-primary-color: #FFFFFF;
$accent-color: #00BCD4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  padding-bottom: 20px;
  background: $text-primary-color!important;
}

/**************************
  * Login
  ************************/
.menu-login{
  background: $dark-primary-color;
  padding-bottom:1px;
  padding-top:1px;
  
  ul li a, .logo{
    color:$text-primary-color;
  }

  .fa{
    font-size: 24px;
    padding-left: 20px;
  }

  .fa:hover{
    color: $light-primary-color;
  }
}

.login-form{
  background: $text-primary-color;
  font-size:12px;
  border-radius: 4px;
  box-shadow: 0 0 4px $divider-color;
}

.detalle-login{
  text-align:center;
  //text-shadow: 0px 1px 1px $color-texto-negro;
  p{font-size: 14px;}
}

.formulario-header{ 
  text-align:center;
  padding: 40px 0px 20px 0px;

  //Rotar Elemento
  .img-responsive{
    transition: all 1s ease;
  }
  .img-responsive:hover{
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    cursor: pointer;
  }//
}

.contenido-form-login{
  padding: 5px 30px 5px 30px;
  input{
    text-align: left;
    font-size: 14px;
  }
  button:hover{
    cursor: pointer;
  }
}

.footer-form{
  padding: 5px 30px 40px 30px;
  font-size: 14px;
}

.reguistrar a{
  float: right;
}

.input-group-addon{
  background: $text-primary-color;
  font-size: 20px;
  width: 40px;
}

@media (max-width: 990px) {
  .menu-login .nav{
    .fa{
      font-size: 24px;
    }
  }

  .demo-redes{
    margin-top: -10px;
  }

  .contenido-form-login{
    input, button{
      font-size:12px;
    }
  }
  
  .bt-login{
    font-size: 14px;
  }

  .rec-password{
    a{
      font-size: 12px;
      float:left;
    }
  }

  .reguistrar{
    a{
      font-size: 12px;
      float:left;
    }
  }
}

/**************************
  * Menu
  ************************/
.menu{
  background:$dark-primary-color;
  padding-bottom:6px;
  padding-top:6px;

  ul li a{
    color:$text-primary-color;
    font-size: 14px;
  }

  ul li a:hover {
    color: $light-primary-color;
  }
  .logo{
     color:$text-primary-color;
  }
}

.navbar-toggler-icon{
  font-size: 24px;
  color: $text-primary-color;
}

.icono-menu{
  padding: 0px 8px 0px 0px;
}

.menu-right{
  margin-right: 0px !important;
}

.fa-user{
  font-size: auto;
  text-align: center;
  width: auto;
}

/********************
  * Detalle perfil
  *******************/
.dropdown-menu{
  margin-left:-175px;
  padding: 0px;
  overflow: hidden;
  border-radius:2px;
}

.navbar-content{
  text-align:center;
  width:300px;
  padding: 15px 0px 15px 0px;
  .user-img{
    font-size: 90px;
    color: $dark-primary-color;
  }
  .col-md-7{
    a{
      border-bottom: 0px solid;
      padding-top: 6px;
      padding-bottom: 6px;
    }
    a:hover{
      border-bottom: 0px solid;
    }
  }
}

.navbar-footer{
  background-color: $divider-color;
  text-align: center;
}

.navbar-footer-content{ 
  padding:15px 15px 15px 15px;
  .col-md-12{
    a{
      font-size: 16px;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
      color: $dark-primary-color;
      border-bottom: 0px solid;
    }
  }
}

@media (max-width: 990px) {
  .navbar-content{
    width: 100%;
    span{
      font-size: 14px;
    }
  }
  .dropdown-menu {
    margin-left: 0px;
  } 
}

/****************************
* Seccion Inicio
****************************/
.alert {
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  display: table;
  width: 100%;
}

.alert-white {
  background-image: linear-gradient(to bottom, #fff, #f9f9f9);
  padding-left: 70px;
  position: relative;
}

.alert-white.rounded {
  border-radius: 3px;
}

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px;
}

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #bdbdbd;
  padding-top: 15px;
}

.alert-white .icon:after {
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #bdbdbd;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px;
  background: #fff;
}

.alert-white .icon i {
  font-size: 20px;
  color: #fff;
  left: 12px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}

/*Color alertas de inicio*/
.alert-success {
  color: $secondary-text-color;
  background-color: $default-primary-color;
  border-color: $default-primary-color;
}

.alert-white.alert-success .icon, 
.alert-white.alert-success .icon:after {
  border-color: $default-primary-color;
  background: $default-primary-color;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #98cce6;
  color: #3a87ad;
}

.alert-white.alert-info .icon, 
.alert-white.alert-info .icon:after {
  border-color: #3a8ace;
  background: #4d90fd;
}


/**************************
  * Clientes
  ************************/
.panel{
  border: 1px $text-primary-color;
  background: $text-primary-color;
}

.seccion-buscar{
  padding:0px 0px 15px 0px;
  input, button{font-size:14px;}
  .buscar{width: 395px}
  .btn-buscar{
    margin-left: 8px;
  }
}

.lista-cliente-detalle{
  font-size: 24px;
  padding: 18px;
  a{font-family: 'Open Sans', sans-serif;}
  p{font-size: 14px;}
}

.seccion-add-clientes{
  padding:18px;
  a{
    font-size: 14px;
  }
  span{
    padding-right: 5px;
  }
}

.contenido-tabla-clientes{
  text-align: left;
  font-size: 14px;
}

.tabla-header{
  th{font-family: 'Open Sans', sans-serif;
    background: $default-primary-color;
    text-align: center;
    color: $text-primary-color;
  }
}

.acciones{
  text-align: center;
}

.formulario-add-cliente{
  input,label{
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .lista-cliente-detalle{
    padding-bottom: 0px;
  }

  .seccion-buscar{
    padding:0px;
    text-align: center;
    .btn-buscar{
      margin-left: 0px;
    }
  }


  .seccion-buscar .form-inline .mr-sm-0{
    width: 100%;
    text-align: center;
    font-size:12px;
  }

  .seccion-buscar .form-inline{
    button{
      width: 100%;
    }
  }

  .seccion-add-clientes{
    padding-top: 0px;
    .btn-info{
      width: 100%;
    }
  }

  .contenido-tabla-clientes{
    table{
      font-size: 12px;
    }
  } 
}


/**************************
  * Agregar Clientes
  ************************/
.formulario-add-cliente{
  .row{
    padding: 0px 20px 10px 20px;
    font-family: 'Open Sans', sans-serif;
  }

  button, a{
    font-size: 14px;
  }
}

@media (max-width: 770px) {
  .detalle-add-cliente{
    font-size: 18px;
    text-align:center;
  }

  .seccion-add-clientes{
    a{
      font-size:14px;
    }
    .btn-success{
      width: 100%;
      font-size:12px;
    }
  }

  .contenido-add-cliente{
    input,label, h5{
      font-size: 12px;
      text-align: center;
    }
    .btn-success, .btn-info{
      text-align: center;
      font-size: 11px;
    }
  }
}

/**************************
  * Seccion mantenimentos
  ************************/
.contenedor-mantenimientos{
  font-size:14px;
  button, input, select{font-size:14px;}
  
}

