body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  padding-bottom: 20px;
  background: #FFFFFF !important; }

/**************************
  * Login
  ************************/
.menu-login {
  background: #0288D1;
  padding-bottom: 1px;
  padding-top: 1px; }
  .menu-login ul li a, .menu-login .logo {
    color: #FFFFFF; }
  .menu-login .fa {
    font-size: 24px;
    padding-left: 20px; }
  .menu-login .fa:hover {
    color: #B3E5FC; }

.login-form {
  background: #FFFFFF;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 0 4px #BDBDBD; }

.detalle-login {
  text-align: center; }

.formulario-header {
  text-align: center;
  padding: 40px 0px 20px 0px; }
  .formulario-header .img-responsive {
    transition: all 1s ease; }
  .formulario-header .img-responsive:hover {
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    cursor: pointer; }

.contenido-form-login {
  padding: 5px 30px 5px 30px; }
  .contenido-form-login input {
    text-align: left;
    font-size: 12px; }
  .contenido-form-login button {
    font-size: 12px; }
  .contenido-form-login button:hover {
    cursor: pointer; }

.footer-form {
  padding: 5px 30px 40px 30px;
  font-size: 12px; }

.reguistrar a {
  float: right; }

.input-group-addon {
  background: #FFFFFF;
  font-size: 18px;
  width: 40px; }

@media (max-width: 990px) {
  .menu-login .nav .fa {
    font-size: 24px; }

  .demo-redes {
    margin-top: -10px; }

  .contenido-form-login input, .contenido-form-login button {
    font-size: 12px; }

  .bt-login {
    font-size: 12px; }

  .rec-password a {
    font-size: 12px;
    float: left; }

  .reguistrar a {
    font-size: 12px;
    float: left; } }
/**************************
  * Menu
  ************************/
.menu {
  background: #0288D1;
  padding-bottom: 6px;
  padding-top: 6px; }
  .menu ul li a {
    color: #FFFFFF;
    font-size: 14px; }
  .menu ul li a:hover {
    color: #B3E5FC; }
  .menu .logo {
    color: #FFFFFF; }

.navbar-toggler-icon {
  font-size: 24px;
  color: #FFFFFF; }

.icono-menu {
  padding: 0px 8px 0px 0px; }

.menu-right {
  margin-right: 0px !important; }

.fa-user {
  font-size: auto;
  text-align: center;
  width: auto; }

/********************
  * Detalle perfil
  *******************/
.dropdown-menu {
  margin-left: -175px;
  padding: 0px;
  overflow: hidden;
  border-radius: 2px; }

.navbar-content {
  text-align: center;
  width: 300px;
  padding: 15px 0px 15px 0px; }
  .navbar-content .user-img {
    font-size: 90px;
    color: #0288D1; }
  .navbar-content .col-md-7 a {
    border-bottom: 0px solid;
    padding-top: 6px;
    padding-bottom: 6px; }
  .navbar-content .col-md-7 a:hover {
    border-bottom: 0px solid; }

.navbar-footer {
  background-color: #BDBDBD;
  text-align: center; }

.navbar-footer-content {
  padding: 15px 15px 15px 15px; }
  .navbar-footer-content .col-md-12 a {
    font-size: 16px;
    text-decoration: none; }
  .navbar-footer-content .col-md-12 a:hover {
    text-decoration: none;
    color: #0288D1;
    border-bottom: 0px solid; }

@media (max-width: 990px) {
  .navbar-content {
    width: 100%; }
    .navbar-content span {
      font-size: 14px; }

  .dropdown-menu {
    margin-left: 0px; } }
/****************************
* Seccion Inicio
****************************/
.inicio {
  padding: 10px 0px 6px 0px;
  color: #0288D1;
  font-size: 16px; }

.snippet p {
  color: #212121; }
.snippet h6 {
  color: #f44336;
  font-size: 12px; }

.alert {
  font-size: 12px;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
  display: table;
  width: 100%; }

.alert-white {
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  padding-left: 70px;
  position: relative; }

.alert-white.rounded {
  border-radius: 3px; }

.alert-white.rounded .icon {
  border-radius: 3px 0 0 3px; }

.alert-white .icon {
  text-align: center;
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px; }

.alert-white .icon:after {
  transform: rotate(45deg);
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  border-left: 0;
  border-bottom: 0;
  top: 50%;
  right: -6px;
  margin-top: -3px; }

.alert-white .icon i {
  font-size: 24px;
  color: #FFFFFF;
  left: 15px;
  margin-top: -10px;
  position: absolute;
  top: 50%; }

.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
  border-color: #00BCD4;
  background: #00BCD4; }

.alert-detalle {
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  padding-left: 30px;
  position: relative; }

.alert-detalle.rounded {
  border-radius: 3px; }

.alert-detalle p {
  padding-left: 24px; }

@media (max-width: 390px) {
  .inicio, p {
    font-size: 12px; } }
/**************************
  * Clientes
  ************************/
.panel {
  border: 1px #FFFFFF;
  background: #FFFFFF; }

.lista-cliente-detalle {
  font-size: 24px;
  padding: 18px; }
  .lista-cliente-detalle a {
    font-family: 'Open Sans', sans-serif; }
  .lista-cliente-detalle p {
    font-size: 14px; }

.seccion-add-clientes {
  padding: 18px; }
  .seccion-add-clientes a {
    font-size: 14px; }
  .seccion-add-clientes span {
    padding-right: 5px; }

.contenido-tabla-clientes {
  text-align: left;
  font-size: 13px; }

.tabla-header th {
  font-family: 'Open Sans', sans-serif;
  background: #03A9F4;
  text-align: center;
  color: #FFFFFF; }

.acciones {
  text-align: center; }

.formulario-add-cliente input, .formulario-add-cliente label {
  font-size: 14px; }

@media (max-width: 770px) {
  .lista-cliente-detalle {
    padding-bottom: 0px; }

  .seccion-add-clientes {
    padding-top: 0px; }
    .seccion-add-clientes .btn-info {
      width: 100%; }

  .contenido-tabla-clientes table {
    font-size: 12px; } }
/**************************
  * Agregar Clientes
  ************************/
.formulario-add-cliente .row {
  padding: 0px 20px 10px 20px;
  font-family: 'Open Sans', sans-serif; }
.formulario-add-cliente button, .formulario-add-cliente a {
  font-size: 14px; }

.alert-validar {
  border-radius: 4px;
  margin-top: 4px;
  padding: 0px 0px 0px 4px;
  font-size: 14px; }

@media (max-width: 770px) {
  .detalle-add-cliente {
    font-size: 16px;
    text-align: center; }

  .seccion-add-clientes a {
    font-size: 12px;
    height: 34px; }

  .alert-validar {
    font-size: 12px; }

  .contenido-add-cliente input, .contenido-add-cliente label, .contenido-add-cliente h5 {
    font-size: 12px;
    text-align: center; }
  .contenido-add-cliente .btn-success, .contenido-add-cliente .btn-info {
    text-align: center;
    font-size: 11px;
    height: 34px; } }
/**************************
  * Seccion mantenimentos
  ************************/
.contenedor-mantenimientos {
  font-size: 14px; }
  .contenedor-mantenimientos button, .contenedor-mantenimientos input, .contenedor-mantenimientos select {
    font-size: 14px; }

/**************************
  * Modales
  ************************/
.modal-header {
  background: #0288D1;
  color: #FFFFFF; }
  .modal-header span {
    color: #FFFFFF; }

.modal-footer button {
  font-size: 12px; }

.tabla-modal a {
  font-size: 12px; }

/***********************************
  * Tabla Paginacion & buscar & items
  *********************************/
.input-buscar {
  padding: 5px;
  border: 1px solid #BDBDBD;
  box-shadow: 0 0 1px #BDBDBD;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 100%;
  width: 280px;
  height: 37px; }

@media (max-width: 770px) {
  .input-buscar {
    width: 100%;
    height: 30px;
    font-size: 12px; }

  .custom-select {
    width: 100%;
    height: 30px;
    font-size: 12px; } }
.texto-n {
  font-size: 14px;
  text-aling: center; }

.tabla-header:hover {
  cursor: pointer; }
  .tabla-header:hover th {
    background: #0288D1; }

/****************
 * Modales
 ***************/
.btn-modal {
  font-size: 13px; }

@media (max-width: 770px) {
  .btn-modal {
    height: 28px; }

  #datosTabla {
    font-size: 12px; } }
/****************
 * Perfil
 ***************/
.perfil {
  font-size: 14px; }
  .perfil input, .perfil button {
    font-size: 14px; }
  .perfil h4 {
    padding: 0px 0px 8px 0px;
    color: #0288D1; }
  .perfil hr {
    padding: 10px; }

@media (max-width: 770px) {
  .perfil input, .perfil button {
    font-size: 12px; } }
@media (max-width: 575px) {
  .cont-perfil, h4 {
    text-align: center; } }
/********************************
  * Ingreso manteniminetos
*********************************/
.detalle-add-mantenimiento {
  font-size: 14px; }
  .detalle-add-mantenimiento span, .detalle-add-mantenimiento a {
    font-size: 24px; }

.contenedor-mantenimientos .col-lg-2 {
  text-align: center; }
.contenedor-mantenimientos input, .contenedor-mantenimientos button {
  font-size: 12px;
  text-align: center; }
.contenedor-mantenimientos .icono-menu {
  padding-right: 2px; }

@media (max-width: 770px) {
  .d-mantenimentos {
    text-align: center;
    font-size: 16px; }

  span {
    padding: 0px 0px 20px 0px; } }
/********************************
  * Categorias y trabajos
*********************************/
.categorias-title {
  font-family: 'Open Sans', sans-serif; }

.contenido-catagorias .fa-ck {
  padding-right: 4px; }
.contenido-catagorias .custom-control {
  font-size: 12px;
  width: 100%;
  height: 100%; }
.contenido-catagorias .list-group .list-group-item {
  padding-left: 8px; }
.contenido-catagorias .cont-check {
  width: 100%;
  height: 100%;
  float: left;
  text-align: left;
  font-size: 12px;
  margin-top: 3px; }
.contenido-catagorias .cont-precio {
  text-align: right;
  width: 100%;
  height: 100%;
  float: right;
  margin-top: -21px;
  margin-right: -24px;
  font-size: 12px; }
  .contenido-catagorias .cont-precio .input-precio {
    color: #0288D1;
    width: 37px;
    height: 100%;
    font-size: 12px;
    border: 1px solid #BDBDBD;
    box-shadow: 0 0 1px #BDBDBD;
    border-radius: 5px; }

@media (max-width: 770px) {
  .categorias-title {
    font-size: 20px !important; }

  .contenido-catagorias .fa-ck {
    display: none; } }
@media (max-width: 345px) {
  .contenido-catagorias .fa-ck {
    display: none; }
  .contenido-catagorias .cont-precio {
    margin-top: 6px; }
    .contenido-catagorias .cont-precio .input-precio {
      width: 90%;
      font-size: 12px; } }

/*# sourceMappingURL=estilos.css.map */